button {
    all: unset;
    cursor: pointer;
    width: 30%;
    border-radius: 7px;

    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
}

.btn-small {
    height: 38px;
}

.btn-big {
    height: 45px;
}

.btn-standard {
    background-color: #FAFAFA;
    color: black;
}

.btn-standard:hover {
    background-color: #cecece;
}

.btn-confirmed {
    background-color: rgb(111, 218, 4);
    color: black;
    border: 2px solid rgb(27, 27, 27);
}

.btn-confirmed:hover {
    background-color: chartreuse;
    color: black;
    border: 2px solid rgb(27, 27, 27);
}

.btn-register {
    background-color: #FAFAFA;
    width: 150px;
    height: 40px;
}

.btn-register:hover {
    background-color: #cecece;
}