header {
    width: 100%;
    height: 170px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

header img {
    cursor: pointer;
}

header strong {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.container-sign-out {
    display: flex;
    align-items: center;
}

.profiler-area {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sign-out {
    margin-left: 16px;
    height: 24px;
}